h1 {
	font-size:4em;
}

h2 {
	font-size:2em;
}


#hero {
	text-align:center;
	padding-top:4em;
	padding-bottom:7em;
}

.popular {
	margin-left:10em;
}

.popular h3 {
	margin-bottom:1em;
	font-size:2em; 
}

li {
	padding-bottom:1em;
	font-size:1.25em;
}