body {
	width: 980px;
	margin: auto;
	padding-top: 4em;
}

header {
	padding-bottom: 4em;
}

h4 {
	padding-bottom: 1em;
}

.tags {
	font-size: 1.4em;
}

section {
	display: block;
	padding-bottom: 4em;
}

#left_col {
	width: 650px;
	float: left;
}

#right_col {
	width: 290px;
	margin-left: 40px;
	float: left;
}

#add a {
	font-size: 1.8em;
	background-color: #add8e6;
	border-radius: 6px;
	color: black;
	padding: 0.5em 0;
	display: block;
	text-align: center;
}

#add a:hover {
	background-color: #bee9f7;
	color: #444;
}

#related a {
	font-size: 1.5em;
	line-height: 1.75;
}