<!DOCTYPE html>
<html>
	<head>
		<title>Mira</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='reset.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='list.css') }}">
	</head>
	<body>
		<header>
			<h1>Exploding Animals</h1>
			<h4>The explosion of animals is an uncommon event arising through natural causes or human activity. Among the best known examples are the post-mortem explosion of whales, either as a result of natural decomposition or deliberate attempts at carcass disposal.</h4>
			<p class="tags"><strong>Tags:</strong> Animals, Wildlife, Explosions, Fun Facts</p>
		</header>
		<main class="clearfix">
			<div id="left_col">
				{% for link in entries %}
					<section id="list" class="clearfix">
						<div class="vote_widget">
							<div class="upvote">&#9650;</div>
							<div class="vote_count">666</div>
							<div class="downvote">&#9660;</div>
						</div>
						<div class="link_widget">
							<div class="link_title">{{ link.title }}</div>
							<div class="link_blurb">{{ link.description }}</div>
							<div class="link_comments"><a href="">123 Comments</a></div>
						</div>
					</section>
				{% endfor %}
			</div>
			<div id="right_col">
				<section id="add">
					<a href="">Add a New Link</a>
				</section>
				<section id="related">
					<h4>Related</h4>
					<div>
						<a href="">Exploding plants</a>
					</div>
					<div>
						<a href="">Exploding rocks</a>
					</div>
				</section>
			</div>
		</main>
		<footer>
		</footer>
	</body>
</html>